---
page_title: "Provider: CloudSigma"
description: |-
  The CloudSigma provider is used to interact with the many resources supported by CloudSigma through its APIs.
---

# CloudSigma Provider

The CloudSigma provider is used to interact with the resources supported by
CloudSigma. The provider needs to be configured with proper credentials before
it can be used.

Use the navigation to the left to read about the available resources.


## Example Usage

Terraform 1.0.7 and later:

{{ tffile "examples/provider/provider.tf" }}


## Authentication

The CloudSigma authentication is based on HTTP Basic Authentication with
a user email as a **username** and a **password**.

The CloudSigma provider offers two ways of providing these credentials. The
following methods are supported, in this priority order:

1. [Static credentials](#static-credentials)
2. [Environment variables](#environment-variables)

### Static credentials

!> **Warning:** Hard-coding credentials into any Terraform configuration is not
recommended, and risks secret leakage should this file ever be committed to a
public version control system. We recommend to use `terraform.tfvars` file and
add this file to your .gitignore.

Static credentials can be provided by adding `username` and `password` attributes
in-line in the CloudSigma provider block.

```terraform
provider "cloudsigma" {
  username = "my-email"
  password = "my-password"
}
```

### Environment variables

You can provide your credentials via the `CLOUDSIGMA_TOKEN`, `CLOUDSIGMA_USERNAME`,
`CLOUDSIGMA_PASSWORD` environment variables.

```terraform
provider "cloudsigma" {}
```

Usage:

```bash
$ export CLOUDSIGMA_USERNAME="my-email"
$ export CLOUDSIGMA_PASSWORD="my-password"
$ terraform plan
```


{{ .SchemaMarkdown | trimspace }}
